<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>girl_xiao_instance_10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10001</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10002</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10003</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10004</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10005</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10006</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10007</key>
			<dict>
				<key>frame</key>
				<string>{{840,0},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10009</key>
			<dict>
				<key>frame</key>
				<string>{{120,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10010</key>
			<dict>
				<key>frame</key>
				<string>{{240,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10011</key>
			<dict>
				<key>frame</key>
				<string>{{360,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10012</key>
			<dict>
				<key>frame</key>
				<string>{{480,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10013</key>
			<dict>
				<key>frame</key>
				<string>{{600,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10014</key>
			<dict>
				<key>frame</key>
				<string>{{720,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10015</key>
			<dict>
				<key>frame</key>
				<string>{{840,196},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,392},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10017</key>
			<dict>
				<key>frame</key>
				<string>{{120,392},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10018</key>
			<dict>
				<key>frame</key>
				<string>{{240,392},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10019</key>
			<dict>
				<key>frame</key>
				<string>{{360,392},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10020</key>
			<dict>
				<key>frame</key>
				<string>{{480,392},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10021</key>
			<dict>
				<key>frame</key>
				<string>{{600,392},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
			<key>girl_xiao_instance_10022</key>
			<dict>
				<key>frame</key>
				<string>{{720,392},{120,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,196}}</string>
				<key>sourceSize</key>
				<string>{120,196}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>girl_xiao.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>girl_xiao.png</string>
		</dict>
	</dict>
</plist>
