<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>laba10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10001</key>
			<dict>
				<key>frame</key>
				<string>{{56,0},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10002</key>
			<dict>
				<key>frame</key>
				<string>{{112,0},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10003</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10004</key>
			<dict>
				<key>frame</key>
				<string>{{0,43},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10005</key>
			<dict>
				<key>frame</key>
				<string>{{56,43},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10006</key>
			<dict>
				<key>frame</key>
				<string>{{112,43},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10007</key>
			<dict>
				<key>frame</key>
				<string>{{168,43},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,86},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10009</key>
			<dict>
				<key>frame</key>
				<string>{{56,86},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10010</key>
			<dict>
				<key>frame</key>
				<string>{{112,86},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10011</key>
			<dict>
				<key>frame</key>
				<string>{{168,86},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10012</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10013</key>
			<dict>
				<key>frame</key>
				<string>{{56,129},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10014</key>
			<dict>
				<key>frame</key>
				<string>{{112,129},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10015</key>
			<dict>
				<key>frame</key>
				<string>{{168,129},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
			<key>laba10017</key>
			<dict>
				<key>frame</key>
				<string>{{56,172},{56,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,43}}</string>
				<key>sourceSize</key>
				<string>{56,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>laba.png</string>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>laba.png</string>
		</dict>
	</dict>
</plist>
