<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idle10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,0},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,0},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,0},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,0},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,142},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,142},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,142},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,142},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,142},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,284},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,284},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,284},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,284},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,284},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,426},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,426},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,426},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,426},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,426},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,568},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,568},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,568},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,568},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,568},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,710},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{90,710},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{180,710},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{270,710},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>idle10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,142}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,142}</string>
				<key>spriteSourceSize</key>
				<string>{90,142}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{360,710},{90,142}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>nvhai_ce_daiji.png</string>
				<key>textureFileName</key>
				<string>nvhai_ce_daiji</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
