<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>instance_10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10001</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10002</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10003</key>
			<dict>
				<key>frame</key>
				<string>{{366,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10004</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10005</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10006</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10007</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10009</key>
			<dict>
				<key>frame</key>
				<string>{{122,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10010</key>
			<dict>
				<key>frame</key>
				<string>{{244,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10011</key>
			<dict>
				<key>frame</key>
				<string>{{366,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10012</key>
			<dict>
				<key>frame</key>
				<string>{{488,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10013</key>
			<dict>
				<key>frame</key>
				<string>{{610,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10014</key>
			<dict>
				<key>frame</key>
				<string>{{732,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10015</key>
			<dict>
				<key>frame</key>
				<string>{{854,182},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10017</key>
			<dict>
				<key>frame</key>
				<string>{{122,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10018</key>
			<dict>
				<key>frame</key>
				<string>{{244,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10019</key>
			<dict>
				<key>frame</key>
				<string>{{366,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10020</key>
			<dict>
				<key>frame</key>
				<string>{{488,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10021</key>
			<dict>
				<key>frame</key>
				<string>{{610,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10022</key>
			<dict>
				<key>frame</key>
				<string>{{732,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10023</key>
			<dict>
				<key>frame</key>
				<string>{{854,364},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10025</key>
			<dict>
				<key>frame</key>
				<string>{{122,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10026</key>
			<dict>
				<key>frame</key>
				<string>{{244,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10027</key>
			<dict>
				<key>frame</key>
				<string>{{366,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10028</key>
			<dict>
				<key>frame</key>
				<string>{{488,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10029</key>
			<dict>
				<key>frame</key>
				<string>{{610,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10030</key>
			<dict>
				<key>frame</key>
				<string>{{732,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10031</key>
			<dict>
				<key>frame</key>
				<string>{{854,546},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10032</key>
			<dict>
				<key>frame</key>
				<string>{{0,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10033</key>
			<dict>
				<key>frame</key>
				<string>{{122,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10034</key>
			<dict>
				<key>frame</key>
				<string>{{244,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10035</key>
			<dict>
				<key>frame</key>
				<string>{{366,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10036</key>
			<dict>
				<key>frame</key>
				<string>{{488,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10037</key>
			<dict>
				<key>frame</key>
				<string>{{610,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10038</key>
			<dict>
				<key>frame</key>
				<string>{{732,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10039</key>
			<dict>
				<key>frame</key>
				<string>{{854,728},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10040</key>
			<dict>
				<key>frame</key>
				<string>{{0,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10041</key>
			<dict>
				<key>frame</key>
				<string>{{122,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10042</key>
			<dict>
				<key>frame</key>
				<string>{{244,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10043</key>
			<dict>
				<key>frame</key>
				<string>{{366,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10044</key>
			<dict>
				<key>frame</key>
				<string>{{488,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10045</key>
			<dict>
				<key>frame</key>
				<string>{{610,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10046</key>
			<dict>
				<key>frame</key>
				<string>{{732,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10047</key>
			<dict>
				<key>frame</key>
				<string>{{854,910},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10048</key>
			<dict>
				<key>frame</key>
				<string>{{0,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10049</key>
			<dict>
				<key>frame</key>
				<string>{{122,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10050</key>
			<dict>
				<key>frame</key>
				<string>{{244,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10051</key>
			<dict>
				<key>frame</key>
				<string>{{366,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10052</key>
			<dict>
				<key>frame</key>
				<string>{{488,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10053</key>
			<dict>
				<key>frame</key>
				<string>{{610,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10054</key>
			<dict>
				<key>frame</key>
				<string>{{732,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10055</key>
			<dict>
				<key>frame</key>
				<string>{{854,1092},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10056</key>
			<dict>
				<key>frame</key>
				<string>{{0,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10057</key>
			<dict>
				<key>frame</key>
				<string>{{122,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10058</key>
			<dict>
				<key>frame</key>
				<string>{{244,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10059</key>
			<dict>
				<key>frame</key>
				<string>{{366,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10060</key>
			<dict>
				<key>frame</key>
				<string>{{488,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
			<key>instance_10061</key>
			<dict>
				<key>frame</key>
				<string>{{610,1274},{122,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,182}}</string>
				<key>sourceSize</key>
				<string>{122,182}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>animation_qiqi_ku.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>animation_qiqi_ku.png</string>
		</dict>
	</dict>
</plist>
