<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idle10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10001</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10002</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10003</key>
			<dict>
				<key>frame</key>
				<string>{{366,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10004</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10005</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10006</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10007</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10009</key>
			<dict>
				<key>frame</key>
				<string>{{122,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10010</key>
			<dict>
				<key>frame</key>
				<string>{{244,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10011</key>
			<dict>
				<key>frame</key>
				<string>{{366,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10012</key>
			<dict>
				<key>frame</key>
				<string>{{488,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10013</key>
			<dict>
				<key>frame</key>
				<string>{{610,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10014</key>
			<dict>
				<key>frame</key>
				<string>{{732,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10015</key>
			<dict>
				<key>frame</key>
				<string>{{854,183},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10017</key>
			<dict>
				<key>frame</key>
				<string>{{122,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10018</key>
			<dict>
				<key>frame</key>
				<string>{{244,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10019</key>
			<dict>
				<key>frame</key>
				<string>{{366,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10020</key>
			<dict>
				<key>frame</key>
				<string>{{488,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10021</key>
			<dict>
				<key>frame</key>
				<string>{{610,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10022</key>
			<dict>
				<key>frame</key>
				<string>{{732,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10023</key>
			<dict>
				<key>frame</key>
				<string>{{854,366},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10025</key>
			<dict>
				<key>frame</key>
				<string>{{122,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10026</key>
			<dict>
				<key>frame</key>
				<string>{{244,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10027</key>
			<dict>
				<key>frame</key>
				<string>{{366,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10028</key>
			<dict>
				<key>frame</key>
				<string>{{488,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10029</key>
			<dict>
				<key>frame</key>
				<string>{{610,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10030</key>
			<dict>
				<key>frame</key>
				<string>{{732,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10031</key>
			<dict>
				<key>frame</key>
				<string>{{854,549},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10032</key>
			<dict>
				<key>frame</key>
				<string>{{0,732},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10033</key>
			<dict>
				<key>frame</key>
				<string>{{122,732},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
			<key>idle10034</key>
			<dict>
				<key>frame</key>
				<string>{{244,732},{122,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,183}}</string>
				<key>sourceSize</key>
				<string>{122,183}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>animation_qiqi_daiji.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>animation_qiqi_daiji.png</string>
		</dict>
	</dict>
</plist>
