<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>instance10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10001</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10002</key>
			<dict>
				<key>frame</key>
				<string>{{244,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10003</key>
			<dict>
				<key>frame</key>
				<string>{{366,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10004</key>
			<dict>
				<key>frame</key>
				<string>{{488,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10005</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10006</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10007</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10009</key>
			<dict>
				<key>frame</key>
				<string>{{122,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10010</key>
			<dict>
				<key>frame</key>
				<string>{{244,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10011</key>
			<dict>
				<key>frame</key>
				<string>{{366,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10012</key>
			<dict>
				<key>frame</key>
				<string>{{488,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10013</key>
			<dict>
				<key>frame</key>
				<string>{{610,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10014</key>
			<dict>
				<key>frame</key>
				<string>{{732,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10015</key>
			<dict>
				<key>frame</key>
				<string>{{854,185},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10017</key>
			<dict>
				<key>frame</key>
				<string>{{122,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10018</key>
			<dict>
				<key>frame</key>
				<string>{{244,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10019</key>
			<dict>
				<key>frame</key>
				<string>{{366,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10020</key>
			<dict>
				<key>frame</key>
				<string>{{488,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10021</key>
			<dict>
				<key>frame</key>
				<string>{{610,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10022</key>
			<dict>
				<key>frame</key>
				<string>{{732,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10023</key>
			<dict>
				<key>frame</key>
				<string>{{854,370},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10025</key>
			<dict>
				<key>frame</key>
				<string>{{122,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10026</key>
			<dict>
				<key>frame</key>
				<string>{{244,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10027</key>
			<dict>
				<key>frame</key>
				<string>{{366,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10028</key>
			<dict>
				<key>frame</key>
				<string>{{488,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10029</key>
			<dict>
				<key>frame</key>
				<string>{{610,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10030</key>
			<dict>
				<key>frame</key>
				<string>{{732,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10031</key>
			<dict>
				<key>frame</key>
				<string>{{854,555},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10032</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10033</key>
			<dict>
				<key>frame</key>
				<string>{{122,740},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
			<key>instance10034</key>
			<dict>
				<key>frame</key>
				<string>{{244,740},{122,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,185}}</string>
				<key>sourceSize</key>
				<string>{122,185}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>animation_qiqi_xiao.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>animation_qiqi_xiao.png</string>
		</dict>
	</dict>
</plist>
