<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{107,317}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,317}}</string>
        <key>sourceSize</key>
        <string>{107,317}</string>
      </dict>
      <key>yan30.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,182},{51,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,19}}</string>
        <key>sourceSize</key>
        <string>{51,19}</string>
      </dict>
      <key>yan29.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,224},{49,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,13}}</string>
        <key>sourceSize</key>
        <string>{49,13}</string>
      </dict>
      <key>yan28.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,235},{49,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,9}}</string>
        <key>sourceSize</key>
        <string>{49,9}</string>
      </dict>
      <key>yan27.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,306},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan26.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,305},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan25.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,305},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan24.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,299},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan23.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,289},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan22.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,286},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan21.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,269},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan20.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,259},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan19.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,256},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan18.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,249},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan17.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,259},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan16.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,246},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan15.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,299},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan14.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,249},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan13.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,289},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan12.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,239},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan11.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,309},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan10.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,266},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan9.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,296},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan8.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,269},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan7.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,276},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan6.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,279},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan5.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,279},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,239},{47,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,8}}</string>
        <key>sourceSize</key>
        <string>{47,8}</string>
      </dict>
      <key>yan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,224},{49,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,9}}</string>
        <key>sourceSize</key>
        <string>{49,9}</string>
      </dict>
      <key>yan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,224},{49,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,13}}</string>
        <key>sourceSize</key>
        <string>{49,13}</string>
      </dict>
      <key>yan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,203},{51,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,19}}</string>
        <key>sourceSize</key>
        <string>{51,19}</string>
      </dict>
      <key>shoubi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{47,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,129}}</string>
        <key>sourceSize</key>
        <string>{47,129}</string>
      </dict>
      <key>zui.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,309},{36,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,5}}</string>
        <key>sourceSize</key>
        <string>{36,5}</string>
      </dict>
      <key>lian.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{243,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,222}}</string>
        <key>sourceSize</key>
        <string>{243,222}</string>
      </dict>
      <key>bianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{103,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,303}}</string>
        <key>sourceSize</key>
        <string>{103,303}</string>
      </dict>
      <key>shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{61,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,153}}</string>
        <key>sourceSize</key>
        <string>{61,153}</string>
      </dict>
      <key>tui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,131},{24,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,49}}</string>
        <key>sourceSize</key>
        <string>{24,49}</string>
      </dict>
      <key>tui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,131},{24,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,44}}</string>
        <key>sourceSize</key>
        <string>{24,44}</string>
      </dict>
      <key>shoubi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,224},{52,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,125}}</string>
        <key>sourceSize</key>
        <string>{52,125}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>girl_DaiJi.png</string>
      <key>textureFileName</key>
      <string>girl_DaiJi.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>