<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bianzi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{107,317}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,317}}</string>
        <key>sourceSize</key>
        <string>{107,317}</string>
      </dict>
      <key>yan58.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,473},{51,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>yan57.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,498},{51,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>yan56.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,473},{51,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>yan55.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,468},{51,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,24}}</string>
        <key>sourceSize</key>
        <string>{51,24}</string>
      </dict>
      <key>yan54.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,319},{51,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,25}}</string>
        <key>sourceSize</key>
        <string>{51,25}</string>
      </dict>
      <key>yan53.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,463},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>yan52.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,463},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>yan51.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,445},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan50.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,346},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan49.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,440},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan48.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,435},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan47.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,427},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan46.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,416},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan45.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,407},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan44.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,399},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>43.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,388},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan42.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan41.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,445},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan40.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,446},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan39.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,361},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan38.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,417},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan37.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,374},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan36.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,444},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan35.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,379},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan34.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,430},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>33.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,389},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan32.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,455},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan31.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,402},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan30.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,435},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan29.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,407},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,343},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan27.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,360},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan26.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,333},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan25.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,379},{50,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,26}}</string>
        <key>sourceSize</key>
        <string>{50,26}</string>
      </dict>
      <key>yan24.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,275},{50,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,27}}</string>
        <key>sourceSize</key>
        <string>{50,27}</string>
      </dict>
      <key>yan23.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,246},{50,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,27}}</string>
        <key>sourceSize</key>
        <string>{50,27}</string>
      </dict>
      <key>yan22.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,188},{50,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,27}}</string>
        <key>sourceSize</key>
        <string>{50,27}</string>
      </dict>
      <key>yan21.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,159},{50,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,27}}</string>
        <key>sourceSize</key>
        <string>{50,27}</string>
      </dict>
      <key>yan20.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,304},{50,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,27}}</string>
        <key>sourceSize</key>
        <string>{50,27}</string>
      </dict>
      <key>yan19.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,217},{50,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,27}}</string>
        <key>sourceSize</key>
        <string>{50,27}</string>
      </dict>
      <key>yan18.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,131},{51,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,26}}</string>
        <key>sourceSize</key>
        <string>{51,26}</string>
      </dict>
      <key>yan17.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,458},{51,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,24}}</string>
        <key>sourceSize</key>
        <string>{51,24}</string>
      </dict>
      <key>yan16.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,494},{51,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>yan15.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,484},{51,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>yan14.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,515},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan13.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,499},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan12.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,498},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan11.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,472},{50,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,24}}</string>
        <key>sourceSize</key>
        <string>{50,24}</string>
      </dict>
      <key>yan10.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,490},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,483},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan8.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,474},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan7.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,490},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{50,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,23}}</string>
        <key>sourceSize</key>
        <string>{50,23}</string>
      </dict>
      <key>yan5.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,498},{51,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>yan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,523},{51,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,22}}</string>
        <key>sourceSize</key>
        <string>{51,22}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,519},{51,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,22}}</string>
        <key>sourceSize</key>
        <string>{51,22}</string>
      </dict>
      <key>yan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,523},{51,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,22}}</string>
        <key>sourceSize</key>
        <string>{51,22}</string>
      </dict>
      <key>yan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,509},{51,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,23}}</string>
        <key>sourceSize</key>
        <string>{51,23}</string>
      </dict>
      <key>shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{47,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,129}}</string>
        <key>sourceSize</key>
        <string>{47,129}</string>
      </dict>
      <key>tou.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{243,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,222}}</string>
        <key>sourceSize</key>
        <string>{243,222}</string>
      </dict>
      <key>shenti.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,224},{61,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,153}}</string>
        <key>sourceSize</key>
        <string>{61,153}</string>
      </dict>
      <key>tui1.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,224},{67,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,134}}</string>
        <key>sourceSize</key>
        <string>{67,134}</string>
      </dict>
      <key>tui2.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,305},{67,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,133}}</string>
        <key>sourceSize</key>
        <string>{67,133}</string>
      </dict>
      <key>shou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,319},{52,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,125}}</string>
        <key>sourceSize</key>
        <string>{52,125}</string>
      </dict>
      <key>bianzi2.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{103,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,303}}</string>
        <key>sourceSize</key>
        <string>{103,303}</string>
      </dict>
      <key>sadfretgh.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{98,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,117}}</string>
        <key>sourceSize</key>
        <string>{98,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gril_SiKao.png</string>
      <key>textureFileName</key>
      <string>gril_SiKao.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>