<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>happy10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10001</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10002</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10003</key>
			<dict>
				<key>frame</key>
				<string>{{357,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10004</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10005</key>
			<dict>
				<key>frame</key>
				<string>{{595,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10006</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10007</key>
			<dict>
				<key>frame</key>
				<string>{{833,0},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10008</key>
			<dict>
				<key>frame</key>
				<string>{{0,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10009</key>
			<dict>
				<key>frame</key>
				<string>{{119,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10010</key>
			<dict>
				<key>frame</key>
				<string>{{238,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10011</key>
			<dict>
				<key>frame</key>
				<string>{{357,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10012</key>
			<dict>
				<key>frame</key>
				<string>{{476,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10013</key>
			<dict>
				<key>frame</key>
				<string>{{595,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10014</key>
			<dict>
				<key>frame</key>
				<string>{{714,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10015</key>
			<dict>
				<key>frame</key>
				<string>{{833,215},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10016</key>
			<dict>
				<key>frame</key>
				<string>{{0,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10017</key>
			<dict>
				<key>frame</key>
				<string>{{119,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10018</key>
			<dict>
				<key>frame</key>
				<string>{{238,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10019</key>
			<dict>
				<key>frame</key>
				<string>{{357,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10020</key>
			<dict>
				<key>frame</key>
				<string>{{476,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10021</key>
			<dict>
				<key>frame</key>
				<string>{{595,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10022</key>
			<dict>
				<key>frame</key>
				<string>{{714,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10023</key>
			<dict>
				<key>frame</key>
				<string>{{833,430},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10024</key>
			<dict>
				<key>frame</key>
				<string>{{0,645},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10025</key>
			<dict>
				<key>frame</key>
				<string>{{119,645},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10026</key>
			<dict>
				<key>frame</key>
				<string>{{238,645},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10027</key>
			<dict>
				<key>frame</key>
				<string>{{357,645},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10028</key>
			<dict>
				<key>frame</key>
				<string>{{476,645},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
			<key>happy10029</key>
			<dict>
				<key>frame</key>
				<string>{{595,645},{119,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,215}}</string>
				<key>sourceSize</key>
				<string>{119,215}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>boy_xiao.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>boy_xiao.png</string>
		</dict>
	</dict>
</plist>
